body {
background-color: #FFFFFF;
max-width: 1440px;
}
.header {
    display:grid;
    grid-template-columns:  1fr min-content 1fr;
    grid-template-areas: "list logo address";
    gap:209px;
    place-content: center space-between;
    align-items:center;
    color:black;
    font-weight:400;
    margin: 95px 50px 0 50px;
}
.header__links-list {
    display:flex;
    justify-content: space-between;
    grid-area: list;
}
.header__links-list-item {
    list-style: circle;
    font-size:18px;
    line-height:1.2em;
    
}
.header__links-list-item_no-bullit {
    list-style: none;
}
.header__link_active {
    text-decoration: none;
}
.header__logo {
    margin: 0 auto;
    display:block;
    min-width:135px;
    max-height:100px;
    grid-area:logo;
}
.address {
    grid-area:address;
    display:flex;
    min-height:97px;
    flex-direction: column;
    justify-content: flex-start;
    font-size:18px;
    line-height: 24.3px;
    font-style:normal;
}
.header__address {
    margin-left:152px;
}
.cover {
    position:relative;
    margin-top:96px;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}
.overlay {
    position: absolute;
    background-color:#000000;
    background-size:cover;
    background-position: 100%;
    opacity: 60%;
    z-index: 1;
    height:100%;
    width:100%;
    top:0;
    left: 0;

}
.cover__title {
position:relative;
display:flex;
flex-direction: column;
gap:20px;
padding: 165px 50px 0 50px;
color:#FFFFFF;
font-size:100px;
font-weight:700;
z-index: 2;
text-transform: uppercase;
}
.aligned-text {
    display:block;
    line-height: 115px;
    letter-spacing:0.3em;
  
}
.aligned-text_center {
    max-width:1280px;
    letter-spacing:0.3em;
    display:block;
    margin-left: 50px;
    margin-right: 110px;
    text-align:center;
    line-height: 100px;
}
.aligned-text_right {
    max-width:1340px;
    display:block;
    margin-left: auto;
  margin-right: 0;
    line-height: 100px;
    text-align:right;
    letter-spacing:0.3em;
}
.letter-spacing-extended {
    letter-spacing: 0.6em;
}
.no-letter-spacing {
    letter-spacing: 0;
}
.cover__description {
    padding: 135px 50px 50px 0;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:78px;
}
.cover__description-text {
    color:#FFFFFF;
    word-spacing: 19px;
    text-align: center;
    font-size: 22px;
    line-height:28px;
    font-weight: 400;
    text-transform: uppercase;
}
.bet-button {
    font-size:22px;
    color:#FFFFFF;
    background-color: transparent;
    width:257px;
    height:52px;
    border: 1px currentColor solid;
    line-height: 25.83px;
    font-family:Raleway, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.lots {
    margin:180px 50px 0 50px;
}
.lots__heading {
    margin-left: 40px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight:700;
}
.lots__card-list {
    margin-top:30px;
    margin-bottom:30px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:25px;
   
}

.lots__card-list-item {
    list-style: none;
    width: 430px;
    min-height:450px;
    flex-grow: 1;
}
.card-link {
    display:block;
    text-decoration: none;
    width: 100%;
    height:100%;
    
}
.card {
    position: relative;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    width: 100%;
    height:100%;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    position: relative;
    padding: 50px 40px 0 40px;
    color:#FFFFFF;
    font-size:22px;
    font-weight:700;
    line-height: 26.4px;
    text-decoration: underline;
    text-transform: uppercase;
    z-index: 2;
}
.card__text {
    position: relative;
    padding:0 40px 50px 40px;
    font-size:20px;
    color:#FFFFFF;
    font-weight: 400;
    line-height: 24px;
    z-index: 2;
}
.lots__look-more-link {
    margin-left:40px;
    font-size:20px;
    line-height:23.48px;
}
.about {
    display:grid;
    max-width:100%;
    margin: 0 50px 0 50px;
    grid-template-columns: 430px 1fr;

}
.about__column {
    margin-top:181px;
}
.about__logo {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 95px 0 95px;
    background-color: #000000;
    width: 240px;
    height: 240px;
    border-radius: 50%;
}
.about__logo-image {
    margin: 63px 46px 63px 46px;
    width:148px;
    height:114px;
}
.about__title {
    padding: 100px 0 100px 25px;
    font-size:40px;
    font-weight: 700;
    line-height:46.96px;
    color: #000000;
    text-transform: uppercase;
}
.about__text {
    margin-bottom:25px;
    padding-left:25px;
    color:#000000;
    font-size:20px;
    font-weight:400;
    line-height:23.48px;
}
.footer {
    display:grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-areas: "address list links";
    place-content: center space-between;
    gap:355px;
    color:black;
    font-weight:400;
    margin: 160px 50px 90px 50px;
}
.footer__social-list {
    grid-area:links;
    display:flex;
    justify-content: space-between;
   
}
.footer__menu-list {
    min-width:149px;
    text-align: center;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
}
.footer__menu-list-item {
    list-style: none;
    font-size:18px;
    line-height:21.13px;
}
.footer__menu-link_active {
    text-decoration: none;
}
.footer__social-list-item {
    list-style: none;
}
.footer__social-icon {
    width:48px;
    height:48px;
}
